
html{
    font-size:62.5%
}
body{
    background-color:#fff;
    color:#343434;
    font-size:1.4em;
    font-family:'Open Sans',Verdana,'DejaVu Sans',Arial,Helvetica,sans-serif;
    line-height:1.6
}