body {
    direction: rtl;
    text-align: right;
}

.ml-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.nice-select:after{
    left: unset;
    right: 12px;
}
.nice-select .option{
    padding-right: 18px;
    padding-left: 29px;
    text-align: right;
}
.list-unstyled, ul {
    padding-inline-start: 0;
}

.mfp-iframe-holder {
    .mfp-close {
        text-align: left;
    }
}

.input-group>:not(:first-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.input-group>:not(:last-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 0;
    padding-right: var(--bs-breadcrumb-item-padding-x); 
}
.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-right: 0;
    padding-left: var(--bs-breadcrumb-item-padding-x);
}
.go-top{
    right: unset;
    left: 0;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}
.header-area {
    .main-navbar {
        .menu-dropdown {
            left: unset;
            right: 0;

            .nav-link.toggle i{
                right: unset;
                left: 20px;
            }
            &::before {
                left: unset;
                right: 25px;
            }
        }
        .navbar-nav {
            .nav-item {
                .menu-dropdown {
                    li {
                        .menu-dropdown {
                            left: unset;
                            right: 200px;

                            li {
                                .menu-dropdown {
                                    left: unset;
                                    right: 200px;

                                    li {
                                        .menu-dropdown {

                                            left: unset;
                                            right: 200px;

                                            li {
                                                .menu-dropdown {

                                                    left: unset;
                                                    right: 200px;

                                                    li {
                                                        .menu-dropdown {

                                                            left: unset;
                                                            right: 200px;

                                                            li {
                                                                .menu-dropdown {

                                                                    left: unset;
                                                                    right: 200px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nice-select::after{
        left: unset;
        right: 0;
    }
}

.mobile-menu {
	.nav-link.toggle {
		i {
			right: unset;
			left: 0;
		}
	}
}
.accordion-button::after{
    text-align: left;
    margin-right: auto;
    margin-left: 0;
}
.hero-banner.hero-banner-6 .hero-shape,
.hero-banner.hero-banner-5 .hero-shape{
    transform: rotateY(180deg);
}
.coming-soon-area .main-form .icon-link,
.authentication-area .main-form .icon-link{
    right: unset;
    left: 0;
    border-radius: 0 30px 30px 0;
}
.show-password-field{
    right: unset;
    left: 16px;
}
.custom-checkbox .form-check-label::before{
    left: unset;
    right: 0;
}
.custom-checkbox input[type=checkbox] + .form-check-label::after{
    left: unset;
    right: 2px;
}
@media (max-width: 1199px) {
    .mobile-menu{
        left: unset;
        right: -100%;
    }
    .mobile-menu-active .mobile-menu {
        visibility: visible;
        right: 0;
    }
}