
/* -----------------------------------------
	Blog CSS
----------------------------------------- */
.blog-area {
    position: relative;
    overflow: hidden;

    .card {
        overflow: hidden;
        .card-img {
            overflow: hidden;
        }

        img{
            @include transition(transform, .3s, ease-out);
        }

        p {
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .card-btn {
            line-height: 1;
            font-weight: var(--font-bold);
            text-decoration: underline;
            color: var(--color-primary);
        }

        .card-list {
            display: inline-flex;
            align-items: center;
            li:not(:last-child) {
                padding-inline-end: 10px;
                margin-inline-end: 10px;
                border-inline-end: 1px solid var(--border-color);
            }
            a{
                color: var(--text-medium);
            }

            i{
                color: var(--color-primary);
            }

            @media #{$tiny} {
                *{
                    font-size: 10px;
                }
            }
        }

        &:hover{
            img {
                transform: scale3d(1.05, 1.05, 1.05);
            }

            .btn-text{
                letter-spacing: .1em;
            }
        }
    }

    .article-item {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .card-img {
            flex: 0 0 auto;
            width: calc((100% / 3) - 16px);

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        .content {
            flex: 0 0 auto;
            width: calc((100% / 1.5) - 16px);
        }

        .card-list {
            li:not(:last-child) {
                padding-inline-end: 8px;
                margin-inline-end: 8px;
            }
        }
    }

    &.blog-1 {
        .card-content {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: calc(100% - 40px);
            z-index: 3;
        }
    }
    &.blog-2 {
        .card-big{
            .card-content {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(24, 24, 24, 0) 42.41%, rgba(0, 0, 0, 0.94) 82.77%);
                z-index: 3;
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
            }
    
            .card-list {
                * {
                    color: var(--text-white);
                }
            }
        }
    }

    &.blog-3 {
        .card-content{
            position: relative;
            overflow: hidden;
            margin-top: -20px;
            z-index: 3;
            margin-inline: auto;
            width: calc(100% - 40px);

            &::before {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                margin-inline: auto;
                width: 100%;
                height: calc(100% - 40px);
                background-color: var(--color-primary);
                background-image: var(--gradient-1);
                border-radius: 0 0 inherit inherit;
                transition: all .3s;
                z-index: -2;
            }
            &::after {
                position: absolute;
                content: '';
                bottom: 5px;
                left: 0;
                right: 0;
                margin-inline: auto;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                background-color: inherit;
                border-radius: inherit;
                z-index: -1;
            }
        }
        .card:hover {
            .card-content{
                &::before{
                    height: 100%;
                }
            }
        }
    }

    &.blog-4 {
        .card{
            .card-list {
                gap: 20px;
                li{
                    padding: 0;
                    margin-inline-end: 0;
                    border: 0;
                }
            }
        }
    }
    &.blog-5 {
        .card{
            cursor: pointer;
            .card-list {
                gap: 20px;
                li{
                    padding: 0;
                    margin-inline-end: 0;
                    border: 0;

                    i{
                        color: var(--color-secondary);
                    }
                }
            }
            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 4;
                background-color: var(--bg-white);
                transition: all .3s;
            }

            &:hover{
                *:not(i) {
                    color: var(--text-white);
                }
                .card-content {
                    background-color: rgba($color: var(--color-primary-rgb), $alpha: .9);
                }
            }
        }
    }
}