/* -----------------------------------------
    Counter CSS
----------------------------------------- */
.counter-area {
    .card {
        &-icon {
            font-size: 36px;

            i{
                display: inline-block;
                transform: translateZ(0);
                backface-visibility: hidden;
                transition-duration: 0.5s;
            }
        }

        &:hover {
            i{
                transform: scale(1.2);
                transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            }
        }
    }

    &.counter-1{
        .card {
            &-icon {
                --size: 85px;
                width: var(--size);
                height: var(--size);
                line-height: var(--size);
                text-align: center;
                border-radius: 50%;
                background-color: var(--bg-white);
                box-shadow: 0px 18px 40px rgba(79, 90, 228, 0.11);
            }
        }
    }

    &.counter-2 {
        .card {
            &-icon {
                --size: 85px;
                width: var(--size);
                height: var(--size);
                line-height: var(--size);
                text-align: center;
                border-radius: 50%;
                color: var(--text-white);
                background-color: var(--color-primary);
                background-image: var(--gradient-1);
            }
        }

        $colors: (
            "1"#7367F0,
            "2"#32CCBC,
            "3"#F6416C,
            "4"#28C76F,
            "5"#499C21,
            "6"#F1C40F,
            "7"#E67E22,
            "8"#E74C3C,
            "9"#FFAA85,
            "10"#3C8CE7);

        @each $i,
        $color in $colors {
            .item:nth-child(#{$i}) {
                .card {
                    background-color: rgba($color, .08);
                }
                .card-icon {
                    background-color: $color;
                    background-image: linear-gradient(135deg, rgba(var(--color-white-rgb), .6) 0%, $color 100%);;
                }
            }
        }
    }

    &.counter-3 {
        .item:is(:nth-child(2), :nth-child(4)) {
            margin-top: 40px;
        }
        @media #{$xsm} {
            .item:is(:nth-child(2), :nth-child(4)) {
                margin-top: 0;
            }
            .item {
                margin-top: 40px !important;
            }
        }
    }
}